@import '../core/style/variables';


$md-step-bar-height: 48px !default;
.md-step-horizontal-old {
  :host {
    display: flex;
    flex-direction: column;
    font-family: $md-font-family;
  }

  // The top section of the view; contains the step labels
  .md-step-header {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }

  // Wraps each step label
  .md-step-label {
    /*
    line-height: $md-step-bar-height;
    height: $md-step-bar-height;
    padding: 0 12px;
    font-size: $md-body-font-size-base;
    font-family: $md-font-family;
    font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    color: currentColor;
    opacity: 0.6;
    min-width: 160px;
    text-align: center;
    */
    &:focus {
      outline: none;
      opacity: 1;
      background-color: rgba(1,1,1,0.1);
    }
    &.md-step-active {

    }
  }

  .md-step-disabled {
    cursor: default;
    pointer-events: none;
  }

  // The bottom section of the view; contains the step bodies
  .md-step-body-wrapper {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
  }

  // Wraps each step body
  .md-step-body {
    display: none;
    overflow: auto;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    &.md-step-active {
      display: block;
    }
  }


  $md-step-circle-size: 24px !default;
  $md-step-line-height: 1px !default;



  .md-step-header {
    position: relative;
    overflow: hidden;
    height: 72px;
    display: block;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.38);
  }

  .md-steps {
    display: flex;
    min-width: 100%;
    align-content: stretch;
  }

  .md-stepper-item-container {
    display: flex;
    cursor: pointer;
  }

  //Before and after create the connection lines between the components
  .md-step {
    display: inline-flex;
    flex-basis: 100%;

    &::before {
      background: rgba(0, 0, 0, 0.38);
      display: inline-flex;
      height: $md-step-line-height;
      content: '';
      flex-grow: 1;
      align-self: center;
    }

    &:first-child::before {
      //display: none;
      background: rgba(0, 0, 0, 0);
    }

    &::after {
      background: rgba(0, 0, 0, 0.38);
      display: inline-flex;
      height: $md-step-line-height;
      content: '';
      flex-grow: 1;
      align-self: center;
    }

    &:last-child::after {
      //display: none;
      background: rgba(0, 0, 0, 0);
    }
  }

  .md-stepper-circle-container {
    padding: 24px 8px 24px 24px;
  }

  .md-step-icon {
    display: block;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.38);
    width: $md-step-circle-size;
    height: $md-step-circle-size;
    color: rgba(255, 255, 255, 1);
    background-clip: content-box;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;

    &.md-step-active {
      background-color: #ff98a7;
    }
    md-icon {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .md-step-label {
    padding-right: 8px;
    align-self: center;
  }

  .md-step-title {
    font-size: 14px;

    &.md-step-active {
      font-weight: bold;
    }
  }

  .md-step-optional {
    align-self: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54);
  }
}




















.md-stepper {
  position: relative;
  font-family: "Roboto",sans-serif;
  background-color: white;
  display: block;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  //padding: 24px 0;
  //max-width: 720px;
  width: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.text-roboto {
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}


//.md-stepper-horizontal {


$md-stepper-steps-height: 72px;

$md-step-circle-size: 24px !default;
$md-step-line-height: 1px !default;

.md-steps-wrapper {
  position: relative;
  display: flex;
  max-height: $md-stepper-steps-height;
  justify-content: space-between;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.38);
  &::before {
    //content: '';
    //position: absolute;
  }
  &::after {
    content: '';
    position: absolute;
    flex: 1;
    top: 36px;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    z-index: 0;
  }
}

.md-step-wrapper {
  background: #FFF;
  display: flex;
  //opacity: 1;
  z-index: 1;

  &:focus, &:hover, &.md-step-active, &.md-step-completed {
    outline: none;
    opacity: 1;
  }
  &.md-step-active, &.md-step-completed {
    .md-step-icon {
      .material-icons {
        background: #4285f4;
      }
    }
    .md-step-title {
      font-weight: bold;
    }
  }
  &:focus, &:hover {
    background: #f6f6f6;
  }
}

/**
  * The reason the step container has a child element for the step is for the vertical option
  * when the step content and nav is placed inside the step itself.
  */
.md-step-item-wrapper {
  display: flex;
  padding: 24px;
  background: #FFF;
  z-index: 1;
}

.md-step-feedback {
  opacity: 1;
}

.md-step-transient-feedback {
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-left: 24px;
  height: 72px;
  cursor: default;
  z-index: 2;
}

.md-step-transient-feedback-text {
}



.md-step-icon {
  display: flex;
  padding-right: 5px;

  .material-icons {
    display: flex;
    width: 24px;
    height: 24px;
    line-height: 24px;
    justify-content: center;
    font-size: 15px;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    color: #FFF;
  }
}

.md-step-label {
  display: flex;
  //order: 2;
  //width: 100%;

  //align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding-right: 8px;
  padding-top: 1px;
}

.md-step-title {
  font-size: 14px;
}

.md-step-optional {
  font-size: 12px;
}

.md-step-warning {
  opacity: 1;

  .material-icons {
    background: transparent !important;
    font-size: 24px;
    line-height: 24px;
    color: #f44336;
  }

  .md-step-label {
    margin-top: -4px;
  }

  .md-step-label, .md-step-title, .md-step-optional {
    color: #f44336 !important;
  }

}

.md-step-content-wrapper {
  position: relative;
}

.md-step-transient-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  .md-step-progress {
    width: 50px;
    height: 50px;
  }
}

.md-step-body {
  padding: 24px;
}

.md-step-nav-wrapper {
  padding: 24px;
}



.md-stepper-vertical {
  .md-steps-wrapper {
    max-height: none;
    flex-direction: column;
    &::after {
      background: transparent;
    }
  }

  .md-step-wrapper {
    flex-direction: column;
    &:focus, &:hover {
      background: transparent;
    }
  }

  .md-step-item-wrapper {
    position: relative;
    height: 64px;
    padding: 24px 24px 16px 24px;
    overflow: hidden;
    box-sizing: border-box;
    &:hover {
      background: #f6f6f6;
    }
  }

  .md-step-icon {
    padding-right: 12px;
  }

  .md-step-transient-feedback {
    height: 64px;
  }

  .md-step-content-wrapper, .md-step-nav-wrapper {
    background: #FFF;
  }

  .md-step-body {
    position: relative;
    padding: 0 60px 16px 60px;
  }
  .md-step-nav {
    padding: 6px 60px;
    margin-bottom: 18px;
  }

  .md-step-wrapper:not(.md-step-active) {
    .md-step-content-wrapper {
      //padding: 0;
    }

    .md-step-nav-wrapper {
      //padding: 0;
    }
  }


  .md-step-warning {
    .md-step-label {
      padding-top: 20px;
    }
  }
}


















.md-stepper-vertical-old {


  $md-step-circle-size: 24px !default;
  $md-step-line-height: 1px !default;

  .md-stepper {
    font-family: "Roboto",sans-serif;
  }

  .md-steps {
    position: relative;
    font-family: "Roboto",sans-serif;
    background-color: white;
    display: block;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    padding: 24px 0;
    max-width: 720px;
    width: 100%;
    border-radius: 2px;
  }

  .md-step {
    position: relative;
    //height: 460px;
    display: list-item;
    list-style: none;
    &:not(.md-step-active) {
      height: initial !important;
    }
    &:not(:last-child):after {
      content: '';
      position: absolute;
      top: 50px;
      left: 37px;
      width: 1px;
      height: calc(100% - 24px);
      background-color: rgba(0,0,0,0.1);
    }
  }

  .md-step-item-container {
    display: flex;
    cursor: pointer;

    //margin-bottom: 8px;
    padding: 24px 24px 24px 24px;
    align-items: center;
    &:hover {
      background-color: #f0f6f0;
    }
  }

  .md-step-transient-feedback {
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;

    padding-left: 24px;

    height: 72px;

    cursor: default;
  }

  .md-step-icon {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    order: 1;
    background-color: rgba(0,0,0,0.3);
    border-radius: 100%;
    color: white;
    margin-right: 12px;
    margin-bottom: auto;
    & > :first-child {
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      display: flex;
      font-size: 15px;
      width: 24px;
      height: 24px;
      align-items: center;
      justify-content: center;
    }

    &.md-step-active {
      background-color: #ff98a7;
    }
    md-icon {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .md-step-label {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    //flex-flow: column nowrap;
    order: 2;
    width: 100%;
  }

  .md-step-title {
    font-size: 14px;
    line-height: 28px;

    &.md-step-active {
      font-weight: bold;
    }
  }


  .md-step-optional {
    align-self: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54);
  }

  .md-step-body-wrapper {
    margin-left: 64px;
  }

  .md-step-nav-wrapper {
    margin-left: 64px;
  }
}